.rainbow{
    width: 90vw;
    rotate: 20deg;
    position: absolute;
    z-index: 1;
    top: 25px;
}

.title{
    position: absolute;
    font-family: Gabby;
    color: rgb(68, 10, 169);
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(233, 226, 226);
    font-size: 4rem;
    top:  120px ;
    z-index: 2;
}
.subTitle{
    @extend .title;
    top: 220px;

}



