.titleContainer{
    text-align: center;
    padding: 5px;

    .Title{
        font-family: Gabby;
        color: rgb(68, 10, 169);
        font-weight: bold;
        text-shadow: 2px 2px 2px rgb(190, 166, 231);
        font-size: 2rem;
    }
    
    .subTitle{
        @extend .Title;
        font-size: 2rem;
    }

}

