.Invitacion {
    background-image: url(../../../public/img/color-background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1%;
    h2{
        color: rgb(68, 10, 169);
        font-size: 2rem;

    }
    button {
        font-family: Gabby;
        font-weight: 400;
        font-size: 25px;
        letter-spacing: 1px;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        background-color: rgb(255,255,255,0.3);
        color: rgb(68, 10, 169);
        margin: 10px;    
    
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        border: 2px solid #a468c4;
      }
      input{
        background-color: rgba(255, 255, 255, 0.3);
      }
  }

  .infoInvitacion {
    background-color: rgb(255, 255, 255, 0.1);
    width: 90%;
    font-family: Gabby;
    color: rgb(68, 10, 169);
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(233, 226, 226);
    font-size: 1.1rem;
    box-shadow:  rgb(68, 10, 169, 0.3) 0px 0px 0px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
      text-align: center;
    }
    h2{
      margin: 0;
      margin-top: 20px;
    } 

}

.formName{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin: 10px auto;
  h3{
    margin: 0;
    font-size: 30px;
  } 
}
.formAssist{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  text-align: center;
  margin: auto;
    input{
      font-size: 1.1rem;
    }
    h3, p{
      margin: 5px;
    }
    h3{
      font-size: 30px;
    }
    .radioAssist{
      display: flex;
    }
}

.hadaGatina{
  width: 50%;
  margin-bottom: -20px;
}

.gatirenaContainer{
  display: flex;
  justify-content: space-around;
}

.gatirena{
  width: 40%;
}

.r{
  transform: scaleX(-1) ;
}