.infoButton {
    font-family: Gabby;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    background-color: rgb(255,255,255,0.3);
    color: rgb(68, 10, 169);

    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #a468c4;
  }


  @media (min-width: 576px) { 
    .infoButton{
      font-size: 1.7rem;
   } 
 }

  @media (min-width: 768px) { 
.infoButton{
  font-size: 2rem;
}
   }