.App {
  background-image: url(../public/img/color-background.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panecilloContainer{
  display: flex;
  justify-content: flex-end;
}
.panecillo{
  width: 40%;;
}
