.App {
  background-image: url(../public/img/color-background.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panecilloContainer{
  display: flex;
  justify-content: flex-end;
}
.panecillo{
  width: 50%;
  padding-right: 20px;
}

.rainbowContainer{
  display: flex;
  justify-content: center;
}
.rainbow{
  width: 70%;
}
