.App {
  background-image: url(../public/img/color-background.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
}

.panecilloContainer{
  display: flex;
  justify-content: flex-end;
}
.panecillo{
  width: 90%;
  padding-right: 10px;
}

.rainbowContainer{
  display: flex;
  justify-content: center;
}
.rainbow{
  width: 85%;
  margin-top: -10px;
}


@media (min-width: 768px) { 
  .rainbow{
    width: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .panecillo{
    width: 60%;
  }
 }
